.status-bar {
  padding-left: 20px;
}

.test-border {
  border: 1px black solid;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-float {
  background-color: lightskyblue;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body-float {
  background-color: lightskyblue;
  border-radius: 10px;
  padding: 10px;
  padding: 10px;
}

.fill-space {
  display: table;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: 0px auto;
  z-index: 4;
}

#workerSelector {
  margin-bottom: 10px;
}
